* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2e3bb;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .mb {
    display: block;
  }
}

.Main_Size {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
}

.lesson1 {
  border: 1px solid #000;
}

.lesson1 .lesson1_content {
  background-image: url(./img/lesson1/lesson1_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  margin: 35px 112px 0 184px;
  padding-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .lesson1 .lesson1_content {
    margin: 3vw 8vw 0 13vw;
    padding-bottom: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .lesson1 .lesson1_content {
    background-image: url(./img/lesson1/lesson1_bg_mb.png);
    background-size: 100% 100%;
    margin: 0;
    margin-top: 5vw;
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .lesson1 .lesson1_content {
    padding-bottom: 4vw;
  }
}

.lesson1 .lesson1_content .lesson1_title {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media screen and (max-width: 768px) {
  .lesson1 .lesson1_content .lesson1_title {
    width: 60%;
    -webkit-transform: translateY(-3vw);
            transform: translateY(-3vw);
  }
}

.lesson1 .lesson1_content .lesson1_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .lesson1 .lesson1_content .lesson1_data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5vw;
  }
}

.lesson1 .lesson1_content .lesson1_data .swiper_arrow {
  border: 1px solid #000;
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .lesson1 .lesson1_content .lesson1_data .swiper_arrow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

.lesson1 .lesson1_content .lesson1_data .swiper_arrow .lesson1_swiper {
  cursor: pointer;
}

.lesson1 .lesson1_content .lesson1_data .swiper_arrow .lesson1_btn {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.lesson1 .lesson1_content .lesson1_data .swiper_arrow .lessone1_left {
  -webkit-transform: translateX(65px);
          transform: translateX(65px);
}

@media screen and (max-width: 1200px) {
  .lesson1 .lesson1_content .lesson1_data .swiper_arrow .lessone1_left {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.lesson1 .lesson1_content .lesson1_data .swiper_arrow .lessone1_right {
  -webkit-transform: translateX(-67px);
          transform: translateX(-67px);
}

@media screen and (max-width: 1200px) {
  .lesson1 .lesson1_content .lesson1_data .swiper_arrow .lessone1_right {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.lesson1 .lesson1_content .lesson1_data .lesson1_text {
  border: 1px solid #000;
  width: 50%;
  line-height: 40px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .lesson1 .lesson1_content .lesson1_data .lesson1_text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}

.lesson1 .lesson1_content .lesson1_data .lesson1_text p {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 440px) {
  .lesson1 .lesson1_content .lesson1_data .lesson1_text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 440px) {
  .lesson1 .lesson1_content .lesson1_data .lesson1_text p img {
    width: 70%;
  }
}

.lesson1 .lesson1_content .lesson1_data .lesson1_text .lesson1_dog {
  position: absolute;
  bottom: -2%;
  right: -20%;
  width: 43%;
}
/*# sourceMappingURL=style.css.map */